@import 'common';

.card {
  display: flex;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  padding: 2%;
  z-index: 100;
  margin-top: 4%;
  background-color: $card-background;
  box-shadow: $drop-shadow;
}