button {
  outline: 0;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  font-size: 25px;
  width: 50px;
  height: 50px;
  float: right;
  color: $strikethrough-text;
  transition: all 0.3s ease-in;
  &:active {
    background: $body-background;
  }
}
.done-button {
  &:hover, &.done {
    color: $primary;
  }
}
.delete-button {
  &:hover {
    color: $accent;
  }
}
