.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

body {
  background-color: #EEE;
  font-family: sans-serif;
}

.todoItem, .todoForm {
  background-color: #FFF;
  margin: 0 auto;
  width: 50%;
  padding: 2%;
  & + & {
    margin-top: 2%;
  }
}

.todoItem {
  @extend .clearfix;
  &.done {
    color: #CCC;
    text-decoration: line-through;
  }
  button.delete-button {
    float: right;
  }
}
.todoForm {
  margin-top: 2%;
}
