@import 'normalize';
@import 'colors';

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

body {
  background-color: $body-background;
  font-family: 'Roboto', sans-serif;
  color: $primary-text;
  z-index: 1;
}

.header {
  width: 100%;
  background-color: $primary;
  padding: 2% 4%;
  color: $icon-text;
  h1 {
    font-weight: normal;
    line-height: 1em;
  }
}

#content {
  padding: 2%;
}

.card {
  background-color: $card-background;
  box-shadow: 0 3px 10px $primary-shadow, 0 3px 10px $secondary-shadow;
  margin: 0 auto;
  width: 60%;
  padding: 2%;
  z-index: 100;
  position: relative;
  margin-top: 4%;
}

.todoItem {
  @extend .clearfix;
  &.done {
    color: $strikethrough-text;
    text-decoration: line-through;
  }
  .buttons {
    height: 50px;
    width: 100%;
  }
  button {
    outline: 0;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    float: right;
    color: $strikethrough-text;
    transition: all 0.3s ease-in;
    &:active {
      background: $body-background;
    }
  }
  .done-button {
    &:hover, &.done {
      color: $primary;
    }
  }
  .delete-button {
    &:hover {
      color: $accent;
    }
  }
}

.todoForm {
  min-height: 100px;

  input {
    position: absolute;
  }
  input[type=submit] {
    border-radius: 100%;
    bottom: 10%;
    right: 2%;
    k: all 0.3s ease-in;
  }
  input[type=text] {
    padding: 0.2em 0.5em;
    line-height: 2em;
    width: 75%;
    bottom: 10%;
    left: 2%;
    border: none;
    border-bottom: 2px solid $strikethrough-text;
    &:focus {
      outline: 0;
    }
  }
}

input[type=submit] {
  background-color: $accent;
  color: $icon-text;
  text-align: center;
  font-size: 25px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  z-index: 200;
  border: none;
  box-shadow: 0 3px 10px $primary-shadow, 0 3px 10px $secondary-shadow;
  transition: all 0.3s ease-in;
  &:hover {
    transition: all 0.3s ease-in;
    height: 60px;
    width: 60px;
    font-size: 35px;
    transform: rotate(90deg);
  }
  &:active {
    background-color: darken($accent, 10%);
    transition: all 0.1s ease-in;
    height: 50px;
    width: 50px;
    padding: 0 0 3px;
    font-size: 25px;
    box-shadow: none;
  }
}
