@import 'common';

@mixin layout {
  min-height: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
  form {
    width: 100%;
  }
  input[type=submit] {
    position: absolute;
    left: 80%;
    bottom: 12%;
  }
  input[type=text] {
    width: 75%;
  }
}

@mixin presentation {
  @include card;
  @include input-text;
  @include input-submit;
}

.todoForm {
  @include layout;
  @include presentation;
}