@import 'common';

.header {
  width: 100%;
  min-width: 320px;
  padding: 2% 4%;
  h1{
    line-height: 1em;
    margin: .25em 0;
    font-weight: normal;
  }
  box-shadow: $drop-shadow;
  background-color: $primary;
  color: $icon-text;
}